<table class="table">
  <tr>
    <th>Link</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone</th>

  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= link_to user.last_name, "/users/#{user.id}" %></td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><%= user.phone %></td>
  </tr>
  <% end %>
</table>

